*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";

}

.nav{
 background-color: rgb(3, 31, 122);
 color: white;
 padding: 10px 60px;
 text-align: center;
}

.main{
    height: 95vh;
    width: 100%;
    background: linear-gradient(135deg,rgb(18, 44, 131),rgb(53, 192, 202) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card{
    height: 500px;
    width: 90%;
    max-width: 505px;
    padding: 20px 40px;
    background: rgb(221, 231, 254);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading h1{
    color: rgb(17, 60, 203);
    text-align: center;
    margin-bottom: 20px;    
}

/* Input Box */
.input{
    background: aliceblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    padding-right: 10px;   
    
}

.input i{  
    color: rgb(17, 60, 203);
    font-size: 1.5rem;
    cursor: pointer;
}

.input input{
    background-color:aliceblue;   
    border: 0;
    outline: 0;
    width: 300px;
    color: rgb(17, 60, 203);
    padding-left: 10px;
    font-size: 1.3rem;
    text-align: left;    
}

/* Length Slider */
.pass-length{
    margin: 1rem 0 1.25rem;
    width: 100%;
    max-width: 390px;
  }
  .pass-length .details{
    display: flex;
    justify-content: space-between;
  }
.pass-length input{
    width: 100%;
    height: 5px;
    color: rgb(129, 17, 203);
    
  }

/* CheckBox */
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 390px;
    gap: 10px;
}

.options li{
    list-style: none;
    color: rgb(104, 102, 102);
}
.checkbox{
    display: flex;
    align-items: center;
}

.generate button{
    padding: 10px 100px;
    margin-bottom: 10px;
    color: rgb(220, 220, 251);
    background-color: rgb(17, 60, 203);
    border: 0;
    border-radius: 5px;
    font-size: 100%;  
}

